body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 16px;
    width: 100%;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

h1 {
    font-size: 25px;
}

main {
    width: 100%;
    display: block;
    border-bottom: 1px solid #ccc;
    position: relative;
}

footer {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

p {
    text-align: center;
    border-bottom: 1px solid #fff;
}

ul {
    padding: 0;
    border-top: 1px solid #000000;
    display: table;
    /* 定義 */
    table-layout: fixed;
    width: 96%;
    font-size: 80%;
    margin: 0 3%;
    text-align: center;
}

li {
    list-style-type: none;
    border: 1px solid #666;
    background-color: #fff;
    display: table-cell;
    /* 定義 */
    cursor: pointer;
    color: #0d7dfd;
}

li:hover {
    background: #0d7dfd;
    color: #fff;
}

textarea {
    margin: 10px 3%;
    width: 95%;
    height: 100px;
    font-size: 80%;
    box-shadow: 3px 3px 3px 3px #555;
    background-color: rgb(241, 239, 239);
}

#key {
    margin: 0 3%;
    width: 95%;
    font-size: 80%;
    background-color: #e1efff;
    box-shadow: 3px 3px 3px 3px #555;
}

th {
    font-size: 20px;
    background-color: #d0e7fc;
}

td {
    font-size: 16px;
    background-color: rgb(245, 218, 159);
}

.table1 {
    border: 1px solid #333;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    background-color: #757575;
    font-size: 18px;
    text-align: center;
}

.head {
    background-color: #e28f11b0;
}

input {
    border-radius: 5px;
    border-color: #ccab9c;
    font-size: 15px;
}

input:hover {
  transform: scale(1.3);
    /* マウスポインタを変更する */
}

button {
    display: inline-block;
    /* ボタンを横並びにする */
    border: none;
    /* 枠線をなくす */
    border-radius: 5px;
    /* 角丸をつける */
    padding: 10px 15px;
    /* ボタンの内側の余白 */
    margin: 5px;
    /* ボタン同士の余白 */
    background-color: #d4743cd7;
    /* ボタンの背景色 */
    color: white;
    /* ボタンの文字色 */
    text-align: center;
    /* ボタンのテキストを中央揃えにする */
    text-decoration: none;
    /* テキストに下線をつけない */
    font-size: 17px;
    /* テキストのフォントサイズ */
    cursor: pointer;
    /* マウスポインタを変更する */
    box-shadow: 0 4px 0 #be461741;
    /* ボタンの影 */
}

button:hover {
    transform: translateY(4px);
    box-shadow: none;
}

.linkbot {
    display: flex;
    justify-content: right;
    margin: 10px;
}

.tolink {
    background-color: #41800d8e;
    /* ボタンの背景色 */
    color: white;
    /* ボタンの文字色 */
    text-align: center;
    /* ボタンのテキストを中央揃えにする */
    text-decoration: none;
    /* テキストに下線をつけない */
    font-size: 17px;
    /* テキストのフォントサイズ */
    cursor: pointer;
    /* マウスポインタを変更する */
    box-shadow: 0 4px 0 #1743be;
    /* ボタンの影 */
}

.numb {
    font-size: 20px;
}